html, body {
  height: 100%;
}
.App {
  text-align: center;
  background-color: rgb(248,249,250);
  height: 100%;
}
.app-container {
 display: flex;
 height: 90vh;
 overflow-y: hidden;
}
.navbar {
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.app-logo-container{
  text-align: left;
}
.app-logo {
  width: 40%;
}
.app-outlet {
  width: 100%;
}
.search-container {
  width: 60%;
}
.search-container input {
  border-radius: 50px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search-container button {
 border:1px solid #dee2e6;
 border-top-right-radius: 50px;
 border-bottom-right-radius: 50px;
 margin-left: 0;
}
.form-control:focus {
  box-shadow: none !important;
}
.sidenav {
  width: 250px;
  background-color: rgb(248,249,250);
  overflow: hidden;
  transition: 0.5s;
  height: 100%;
}
.user-modal {
  width: 250px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  position: absolute;
  right: 145px;
}
.sidenav a {
  padding: 8px 8px 8px 6px;
  text-decoration: none;
  color: #818181;
  display: block;
}
.side-navbar {
  list-style-type: none;
  text-align: left;
  padding: 0;
}
.nav-item button {
  border: 0;
  width: 100%;
  text-align: left;
  font-weight: 500;

}
.side-navbar .nav-item button:hover {
background-color: lightgray;
font-weight: 700;
}

.nav-item span {
  border: 0;
}
.logout-button {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 10px;
  font-weight: 500;
}
.navbar-nav {
  margin-left: auto;
}
.user-modal-list .nav-item {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding-bottom: 8px;
}
.user-modal-list {
  padding-top: 8px; 
}
.account-details-container ul {
 list-style-type:none;
 text-align: left;
 padding: 0;
}
.login-form {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-group {
  text-align: left;
}
.form-group label input {
  font-weight: 400;
}
.required-field {
  border: 1px solid red;
  color: red;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 5, 5, 0.25);
}
.layout-container {
  display: flex;
  height: 91vh;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 20%
}
.video-container{
  margin: 12px;
  width: 31%;
  cursor: pointer;
}
.video-card {
  display: flex;
  list-style-type: none;
  padding: 10px 0px 0px 0px;
}
.video-info {
  list-style-type: none;
}
.thumbnail{
height: 100%;
width: 100%;
border-radius: 15px;
}
.channel-image {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}
.video-info {
  text-align: left;
}
.loader {
  height: 85vh;
  width: 70vw;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(65, 64, 64); 
  border-radius: 10px;
}
.video-info>div:first-child {
  font-weight: 600;
}
.custom-modal {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 5000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.custom-modal-body {
  background: #fff;
  border-radius: 5px;
  height: 35%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 6px 19px -7px gray;
  font-weight: 500;
}
.title-container {
  display: flex;
  align-items: center;
  text-align: left;
}
.title-container>div:first-child {
  background: #d9cfcf;
  width: 7%;
  padding: 25px;
  text-align: center;
  border-radius: 100%;
  margin-right: 7px;
}
.title-container>div:first-child:hover {
  background: #ff0000;
}
.title-container>span {
  font-weight: 500;
  font-size: 30px;
}
.video-detailed-container {
  height: 100vh;
  overflow-y: scroll;
}
.video-player{
  height: 80vh;
  width: 99%;
}
.video-player>div:first-child {
  height: 100% !important;
  width: 100% !important;
}
.video-info-container>div:first-child{
  text-align: left;
  font-size: 20px;
  font-weight: 500;
}
.video-info-container>div:nth-child(2){
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  margin-right: 12px;
}
.video-icon-container {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
.channel-info {
  list-style-type: none;
  text-align: left;
  margin-bottom: 50%;
}
.channel-info>li:first-child {
  font-weight: 500;
}
.channel-info>li:nth-child(3) {
  font-weight: 500;
}
.video-icon-container>li>button {
  background-color: transparent;
  outline: none;
  border: 0;
}
.like-button:hover {
  color: skyblue;
}
.dislike-button:hover {
  color: orange;
}
.save-button:hover {
  color: red;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-container>div:nth-child(1) {
display: flex;
align-items: center;
}
.navbar-container>div:nth-child(2) {
display: flex;
align-items: center;
width: 80%;
justify-content: space-between;
}
.navbar-container>div:nth-child(2)>ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding:0;
}
.horizontal-navbar {
  display: none;
}
.failure-image{
  width: 40%;
}
.no-results-found{
  height: 60vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.no-videos-img{
  width: 40%;
  margin-bottom: 10px;
}