@media (min-width: 1400px) {
    .title-container>div:first-child {
        width: 7%;
    }
    .login-form {
        width: 30%;
    }
}

@media (max-width : 1024px) {
    .sidenav-width {
        width: 175px !important;
    }
    .login-form {
        height: auto;
        width: 36%;
    }
    .video-container {
        width: 29%;
    }

    .title-container>div:first-child {
        width: 9%;
    }

    .video-player {
        height: 33vh;
    }

    .custom-modal-body {
        height: 25%;
        width: 65%;
    }

    .video-info {
        font-size: 10px;
    }

    .channel-image {
        height: 50px;
        width: 50px;
    }
    .failure-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
}

@media (max-width: 820px) {
    .title-container>div:first-child {
        width: 13%;
    }

    .sidenav-width {
        width: 190px !important;
    }

    .channel-image {
        height: 35px;
        width: 35px;
    }

    .video-info {
        font-size: 7px;
    }

    .video-container {
        width: 29%;
    }

    .thumbnail {
        border-radius: 6px;
    }

    .navbar-container>div:nth-child(2) {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .sidenav {
        display: none;
    }
    .horizontal-navbar {
        display: block !important;
        position: fixed;
        bottom: 0;
        width: 100vw;
    }

    .horizontal-navbar>ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        background: #fff;
        width: 100%;
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
    }
    .nav-logout {
        display: block !important;
    }

    .logout-button {
        display: none;
    }

    .app-logo {
        width: 100%;
        height: 25px;
    }
    .login-app-logo {
        width: 50%;
        height: 35px;
    }
    .navbar-container svg {
        width: 18px;
        height: 20px;
    }
    .controls-container>li {
        margin: 0 !important;
    }
    .video-container{
        width: 42%;
    }
    .video-container{
        font-size: 17px;
    }
    .title-container>div:first-child{
        height: 2px;
        width: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title-container>span {
        font-size: 15px;
    }
    .title-container {
        margin-bottom: 10px !important;
        padding-left: 10px;
    }
    .sidenav-shrink {
        width: 40px !important;
    }
    .video-container {
        width: 94%;
    }
    .navbar-container>div>button {
        display: none;
    }
    .navbar-container>div:first-child {
        width: 20%;
    }
    .search-container {
        width: 75%;
        margin-left: 4%;
    }
    .video-detailed-container {
        padding: 10px;
    }
    .video-icon-container {
        width: 46% !important;
        margin-bottom: 0;
        padding: 0 !important;
    }
    .video-icon-container>li {
        font-size: 10px;
    }
    .channel-info {
        padding: 0 !important;
    }
    .loader {
        width: 100vw;
    }
    .no-results-found  {
        width: 100vw;
    }
    .failure-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    .custom-modal-body{
        width: 75%;
    }
    .login-form {
        height: auto !important;
        width: 82%;
    }
}

.sidenav-width {
    width: 200px;
}

.sidenav-shrink {
    width: 65px;
}

.nav-logout {
    display: none;
}
.title-container {
    margin-bottom: 10px !important;
}